@font-face {
    font-family:Inter ;
    src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');

}
:root{
/* Colors */
/* Primary */
--green: hsl(75, 94%, 57%);
/* Neutral */
--white: hsl(0, 0%, 100%);
--grey: hsl(0, 0%, 20%);
--darkGrey: hsl(0, 0%, 12%);
--offBlack: hsl(0, 0%, 8%);
/* Typography */
--fs-p:0.875rem;
--fs-h-s:0.75rem;
}
*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    min-height:100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Inter;
    font-weight: 400;
    font-size: var(--fs-p);
    background-color: var(--offBlack);
    color: var(--white);
}
.social-profile{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    /* max-width: 40rem; */
    width: clamp(15rem, 25rem, 20rem);
    background-color: var(--darkGrey);
    padding: 2rem;
    border-radius: 0.625rem;
    
}
.social-profile__location{
    color: var(--green);
    margin-bottom: 1.25rem;
}
.social-profile__qoute{
    margin-bottom: 0.625rem;
}

.social-profile__avatar{
    border-radius: 1.25rem;
}
.social-profile__list{
    width: 100%;
}
.social-profile__item{
    background-color: var(--grey);
    margin: 0.625rem;
    list-style: none;
    text-align: center;
}
.social-profile__link:hover {
    background-color: var(--green);
    
}
.social-profile__link:focus{
    background-color: var(--green);
}
.social-profile__link{
    display: block;              
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    padding: 0.625rem;
}
footer {
    position: fixed;
    bottom: 0;
    font-size: 0.6875rem;
    text-align: center;
                      
}
footer a{
    color: hsl(204, 94%, 49%);
}
footer a:focus{
    background-color:var(--white) ;
    color: black;

}